services:
  db:
    image: postgres
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: testiaf_user00
      POSTGRES_USER: testiaf_user
      POSTGRES_DB: testiaf
  ff:
    image: frankframework/frankframework:latest
    ports:
      - 8090:8080
    volumes:
      - ./src/main/resources:/opt/frank/resources
      - ./drivers:/opt/frank/drivers
    environment:
      jdbc.hostname: db
